*{
    box-sizing: border-box;
    --themeclr: #b38bff;
}
body{
    background-image: url("../bg.jpg");
    padding: 0;
    margin: 0;
    background-attachment: fixed;
}

a{
    color: var(--themeclr);
    transition: .2s all;
    text-decoration: none;
}

a:hover{
    color: #ef8b34;
}

table {
	margin: .3rem auto;
	border: 2px solid #d8b1d4;
	border-radius: 12px;
	border-collapse: separate !important;
	border-spacing: 0;
}

table th {
	background-color: #ecd8e9 !important;
}

table td {
	background-color: #fffbff !important;
}

thead tr:first-child th:first-child {
	border-radius: 12px 0 0 0;
}

thead tr:first-child th:last-child {
	border-radius: 0 12px 0 0;
}

tbody tr:last-child td:first-child {
	border-radius: 0 0 0 12px;
}

tbody tr:last-child td:last-child {
	border-radius: 0 0 12px 0;
}

/* board */
.board {
    padding: 3rem;
    margin: 2rem;
    overflow-y: auto;
    background-color: #f8f8f8;
    
    border-radius: 16px;
    opacity: .7;
    min-height: calc(95vh - 60px);
}

/* all */
.allrec{
    columns: 4;
    margin-left: 0;
    padding-left: 0;
}
.allrec *{
    list-style-type: none;
}
.allrec *+*{
    margin-top: .4rem;
}

/* nav */
* :has(> .nav){
    /* background-color: var(--themeclr); */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* padding: 1rem 1rem; */
}
.nav{
    margin: 1rem 1rem 0 1rem;
    user-select: none;
}
.nav *{
    display: inline-block;
}
.nav *+*{
    margin-left: 1rem;
}
.title{
    flex: initial;
    font-weight: 200;
    font-size: 2rem;

}
.title a{
    color: #222 !important;
}
.subtitle a{
    color: #aaa;
}
.subtitle a:hover{
    color: #333;
}

/* home */
.searchbox {
    max-width: 60%;
    margin: auto;
    margin-top: 16rem;
    display: flex;
}
.inputbox{
    margin-left: 2rem;
    flex: 9;
    font-size: 1.5rem;
    border-radius: 1rem 0 0 1rem;
    height: 3rem;
    border: none;
    opacity: 0.75;
    transition: .2s;
    padding-left: 1rem;
    outline: none;
}
.inputbox:hover{
    box-shadow: 0px 0px 4px 1px var(--themeclr);
    opacity: 0.9;
    /* transform: scale(1.05); */
}
.go{
    font-size: 1.5rem;
    line-height: 2;
    border-radius:0 1rem  1rem 0;
    text-align: center;
    flex: 1;
    background-color: var(--themeclr);
    transition: .2s;
    cursor: pointer;
    user-select: none;
    display: flex; flex-direction: column;
    justify-content: center;
}
.go:hover{
    background-color: #9d77e9;
}
.luckbox{
    margin: auto;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}
.luck {
    padding: 1rem 3rem;
    border-radius: .5rem;
    border: 1px solid gray;
    transition: .2s;
    font-size: 1rem;
    background-color: rgba(179,139,255,.5);
}
.luck:hover{
    background-color: rgba(179,139,255,.75);
    cursor: pointer;
    user-select: none;
}

/* searchresult */
.eachresult{
    margin-bottom: 2rem;
}

.resulttitle{
    font-size: 1.25rem;
    margin-bottom: .5rem;
}
.resultsum{
    font-weight: 700;
}
.resultcont{

}

/* user nav */
.userinfo{
    float: right;
}
.userinfo *{
    font-size: 1.1rem;
    padding: .4rem 1rem;
    border-radius: .5rem;  
    transition: .2s; 
    color: #333;
}
.userinfo *:hover{color: #333;}
.signin{
    background-color: #ef8b34;

}
.signin:hover{
    background-color: #f69e57;

}
.favorite{
    background-color: var(--themeclr);
}
.favorite:hover{background-color: #9d77e9;}

/* login */
.formbox {
    background-color: #eee;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 15em;
    border-radius: 1rem;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
   }
   
.formbox:focus {
    outline-color: #9d77e9;
} 
.formgo {
    text-align: center;
    background-color: rgba(179,139,255,.5);
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 5em;
    border-radius: 1rem;
    box-shadow: 0 0.4rem #dfd9d9;
}
.formgo:hover {
    background-color: rgba(179,139,255,.75);
}