.board {
    columns: 1;
}

h2{
    border-left: 10px solid rgba(0, 238, 255, 0.641);
    border-bottom: solid rgb(110, 134, 180);

    padding: 10px;
    background-color: rgb(242, 242, 242);
}
.headline {
    display: inline-block; 
    text-align: center; 
    font-size: 3rem;
}
.star{
    margin-left: 1rem;
    font-size: 2rem;
}
.star *{
}
.none{display: none;}