/* 侧边栏 */
.navigation {
    position: fixed;
    opacity: 0.7;
    width: 8rem;
    margin-top: 5rem;
    margin-left: 1rem;
}
.headname {
    background-color: hotpink;
    text-decoration: none;
    margin-right: 0rem;
    padding: 0.8rem;
    text-align: center;
    list-style-type: none;
}
.namelist {
    height: 40rem;
    text-decoration: none;
    padding: 0;
    list-style-type: none;
    overflow: auto;
}
.name {
    background-color: cornflowerblue;
    padding: 0.5rem 0;
    text-align: center;
}
.name a {
    text-decoration: none;
    color: black;
}
.name:hover {
    border: 0.2rem solid gray;
    border-radius: 0.1rem;
    
    transition: 0.2s;
    background-color: blue;
}
.name:hover a {
    transition: inherit;
    color: bisque;
}

/* 顶部icon和标题 */
.icon {
    position: fixed;
    padding-left: 2rem;
    height: 5rem;
    width: 5rem;
    z-index: -1;
}
.icon img {
    max-width: 100%;
    overflow: hidden;
}
.title {
    position: absolute;
    width: 100%;
    height: 5rem;
    /* text-align: center; */
    max-height: 100%;
    overflow: hidden;
}
.title img {
    margin-left: 33rem;
    max-height: 100%;
    overflow: hidden;
}

/* 正文 */
.introduction {
    margin-top: 6rem;
    margin-left: 12rem;
    display: inline-block;
}