<html>
<head>
    <title>
        WikiStore - All
    </title>
    {% include "head.html" %}
</head>

<body>
<div id="app">
    <div class="common-layout">
        <el-container>
          <el-header>
            {% include "nav.html" %}
          </el-header>
          <el-main>
            <div class="board">
                <ul class="allrec">
                    {% for key in keyword %}
                    <li class="rec"><a href="{{key[1]}}">{{ key[0] }}</a></li>
                    {% endfor %}
                </ul>
            </div>   
          </el-main>
        </el-container>
    </div>
</div>
</body>
<script src="/static/script.js"></script>
</html>