<html>
<head>
    <title>
        WikiStore - Home
    </title>
    {% include "head.html" %}
</head>

<body>
<div id="app">
    <div class="common-layout">
        <el-container>
          <el-header>
            {% include "nav.html" %}
          </el-header>
          <el-main>
            {% include "search.html" %}
            <div class="luckbox">
                <div class="luck" onclick="luck()">Good Luck</div>
            </div>
          </el-main>
        </el-container>
    </div>
</div>
</body>
<script src="/static/script.js"></script>
</html>