<html>
<head>
    <title>
        WikiStore - Login
    </title>
    {% include "head.html" %}
    <link rel="stylesheet" href="static/css/page.css"/>
</head>

<body>
<div id="app">
    <div class="common-layout">
        <el-container>
          <el-header>
            {% include "nav.html" %}
          </el-header>
          <el-main>
            <div class="board">
              {% if stat=='login'%}
                  <form style="text-align: center;" method="post">
                      <p><input class="formbox" type=text name=username placeholder="Enter your name">
                      <p><input class="formbox" type="password" name=password placeholder="Enter your password">
                      <p><input class="formgo" type=submit value=Login>
                  </form>
              {% elif stat=='logged' %}
              <div class="info">You have signed in.</div>
              {% elif stat=='wrong' %}
                  <form style="text-align: center;" method="post">
                    <p><input class="formbox" type=text name=username placeholder="Enter your name">
                    <p><input class="formbox" type="password" name=password placeholder="Enter your password">
                    <p><input class="formgo" type=submit value=Login>
                  </form> 
              <div class="info">Wrong name or password</div>
              {% endif %}
            </div>
          </el-main>
        </el-container>
    </div>
</div>
</body>
<script src="/static/script.js"></script>
</html>