<div class="nav">
    <div class="title"> <a href="/">WikiStore</a> </div>
    {% set keyword = [
        ("All", "all"),
        ("Graph", "graph"),
        ("About", "about"),
      ] %}
    {% for key in keyword %}
    <div class="subtitle"> <a href="{{key[1]}}">{{key[0]}}</a> </div>
    {% endfor %}
    <div class="userinfo">
    {% if username %}
    <a class="favorite" href="favorite">Favorite</a>
    <a class="signin" href="logout">Sign out</a>
    <span class="usernmae">User: {{username}}</span>
    {% else %}
      <a class="signin" href="login">Sign in</a>
    {% endif %}
    </div>
</div>