<html>
<head>
    <title>
        WikiStore - {{title}}
    </title>
    {% include "head.html" %}
    <link rel="stylesheet" href="static/css/page.css"/>
</head>

<body>
<div id="app">
    <div class="common-layout">
        <el-container>
          <el-header>
            {% include "nav.html" %}
          </el-header>
          <el-main>
            <div class="board">
                <span class="headline"> {{title}} </span>
                <span class="star" onclick="toggleFav()">
                  <i class="fa-regular fa-star star0{% if like %} none {% endif %}"></i>
                  <i class="fa-solid fa-star star1{% if like==0 %} none {% endif %}"></i>
                </span>
                {{cont | safe}}
            </div> 
          </el-main>
        </el-container>
    </div>
</div>
</body>
<script>
var like = {{like}} , id = {{id}}
</script>
<script src="/static/script.js"></script>
</html>