<html>
<head>
    <title>
        WikiStore - Graph
    </title>
    {% include "head.html" %}
</head>
<body>
<div id="app">
    <div class="common-layout">
        <el-container>
          <el-header>
            {% include "nav.html" %}
            </el-header>
            <el-main>
            <div class="board">
                <embed width='100%'class="graph" src="static/label_svg.svg"/>
            </div>   
            </el-main>
        </el-container>
    </div>
</div>
</body>
<script src="/static/script.js"></script>
</html>