<html>
<head>
    <title>
        WikiStore - {{title}}
    </title>
    {% include "head.html" %}
    <link rel="stylesheet" href="static/css/searchresult.css"/>
</head>

<body>
<div id="app">
    <div class="common-layout">
        <el-container>
          <el-header>
            {% include "nav.html" %}
          </el-header>
          <el-main>
            {% include "search.html" %}
            <div class="board">
                {% if keyword.__len__() %}
                {% for key in keyword %}
                <div class="eachresult">
                    <div class="resulttitle"><a href="/{{key[1]}}">{{key[0]}}</a></div>
                    <div class="resultcont">
                      <span class="resultsum">Summary: </span>
                      {{key[2]+"......"}}
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="noresult">
                  There isn't any entry. Try some other words.
                </div>
                {% endif%}
            </div>   
          </el-main>
        </el-container>
    </div>
</div>
</body>
<script src="/static/script.js"></script>
</html>